<% include partials/header_opening %>
<link rel="stylesheet" type="text/css" href="/root_content.css">
<% include partials/header_closing %>
<!-- Intro text -->
<div class="intro">
	<h1 class="fade-slide">Hello</h1>
	<h1 class="fade-slide">My name is Alex Carbajal</h1>
	<!-- Arrow -->
	<a id="arrow"><i class="fas fa-angle-down"></i></a>
</div>
<!-- Skills showcase -->
<div id="skills">
	<div class="subject">
		<h1>Skills</h1>
	</div>
	<div class="skills-content">
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut delectus inventore, mollitia aperiam molestiae
			impedit voluptate quo. Ullam dolorem est, delectus, pariatur facere facilis quibusdam placeat iusto quos
			cumque eum.</p>
	</div>
</div>
<!-- Projects showcase -->
<div id="projects">
	<div class="subject">
		<h1>Projects</h1>
	</div>
	<div class="projects-content">
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam reiciendis ratione nemo vitae illo ut sint
			mollitia assumenda. Mollitia dolorem fugit eveniet ipsum itaque repellendus animi hic ipsam obcaecati sequi.
		</p>
	</div>
</div>
<!-- Github showcase and link -->
<div id="github">
	<div class="subject">
		<h1>Github</h1>
	</div>
	<div class="github-content">
		<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae velit nemo veniam? Pariatur recusandae porro
			ratione adipisci maiores, animi quod facere vel amet quibusdam. Dolor eius officiis sunt odio adipisci.</p>
	</div>
</div>
<% include partials/footer %>