/* Personal introduction */
@media only screen and (max-width: 600px) {
    .intro {
        display: grid;
        height: 96.4vh;
        grid-template: repeat(3, 32.13vh) / repeat(3, 1fr);
        align-items: end;
        justify-items: center;
    }

    .intro h1:first-of-type {
        font-family: "Quicksand", sans-serif;
        text-transform: uppercase;
        grid-area: 2 / 2 / span 1 / span 1;
        font-size: 15.5vw;
        font-weight: 400;
        text-shadow: 1px 1px 2px;
    }

    .intro h1:last-of-type {
        font-family: "Quicksand", sans-serif;
        text-transform: uppercase;
        grid-area: 2 / 2 / span 1 / span 1;
        font-size: 6.5vw;
        font-weight: 400;
        text-shadow: 1px 1px 2px;
        white-space: nowrap;
        padding-bottom: 13vw;
    }

    @keyframes slide-top {
        0% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }

        100% {
            -webkit-transform: translateY(-2.5em);
            transform: translateY(-2.5em);
        }
    }
}

@media only screen and (min-width: 600px) {
    .intro {
        display: grid;
        height: 96.4vh;
        grid-template: repeat(3, 32.13vh) / repeat(3, 1fr);
        align-items: end;
        justify-items: center;
    }

    .intro h1:first-of-type {
        font-family: "Quicksand", sans-serif;
        text-transform: uppercase;
        grid-area: 2 / 2 / span 1 / span 1;
        font-size: 8vh;
        font-weight: 400;
        text-shadow: 1px 1px 2px;
    }

    .intro h1:last-of-type {
        font-family: "Quicksand", sans-serif;
        text-transform: uppercase;
        grid-area: 2 / 2 / span 1 / span 1;
        font-size: 4vh;
        font-weight: 400;
        text-shadow: 1px 1px 2px;
        white-space: nowrap;
        padding-bottom: 4vh;
    }

    @keyframes slide-top {
        0% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }

        100% {
            -webkit-transform: translateY(-2.5em);
            transform: translateY(-2.5em);
        }
    }
}

@media only screen and (max-width: 600px) and (max-height: 600px) {
    .intro {
        display: grid;
        height: 96.4vh;
        grid-template: repeat(3, 32.13vh) / repeat(3, 1fr);
        align-items: end;
        justify-items: center;
    }

    .intro h1:first-of-type {
        font-family: "Quicksand", sans-serif;
        text-transform: uppercase;
        grid-area: 2 / 2 / span 1 / span 1;
        font-size: 14vh;
        font-weight: 400;
        text-shadow: 1px 1px 2px;
    }

    .intro h1:last-of-type {
        font-family: "Quicksand", sans-serif;
        text-transform: uppercase;
        grid-area: 2 / 2 / span 1 / span 1;
        font-size: 6vh;
        font-weight: 400;
        text-shadow: 1px 1px 2px;
        white-space: nowrap;
        padding-bottom: 4vh;
    }

    @keyframes slide-top {
        0% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }

        100% {
            -webkit-transform: translateY(-2.5em);
            transform: translateY(-1.5em);
        }
    }
}

/* Intro text animation */
.fade-slide {
    animation: fadein 3s,
        slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media only screen and (max-width: 600px) {
    .intro a {
        position: relative;
        grid-area: 3 / 2 / span 1 / span 1;
        padding-bottom: 6.5vh;
        font-size: 4em;
        animation: arrow-bounce 5s infinite;
        align-self: end;
    }
}

.intro a {
    position: relative;
    grid-area: 3 / 2 / span 1 / span 1;
    font-size: 4em;
    animation: arrow-bounce 5s infinite;
    align-self: end;
}

@keyframes arrow-bounce {
    0% {
        top: 0px;
    }

    10% {
        top: 20px;
    }

    20% {
        top: 0px;
    }

    100% {
        top: 0px;
    }
}

/* Three subjects */
#skills,
#projects,
#github {
    display: grid;
    width: 96.4vw;
    height: 100vh;
    grid-template: repeat(5, 20vh) / repeat(5, 20vw);
}

.subject {
    grid-area: 1 / 1 / span 1 / span 1;
    align-self: end;
}

.subject:first-child {
    font-family: "Raleway", sans-serif;
    font-size: 4.5vw;
    text-shadow: 1vw 1vw 6px rgba(28, 28, 28, 0.2);
}

.skills-content,
.projects-content,
.github-content {
    grid-area: 3 / 3 / span 1 / span 1;
}